<div class="forgot-password-container">
  <h2>Forgot Password</h2>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" placeholder="Enter your email" />

      @if (f['email'].touched && f['email'].errors) {
      <div class="error-message">
        @if (f['email'].errors['required']) {
        <div>Email is required.</div>
        }
        @if (f['email'].errors['email']) {
        <div>Invalid email format.</div>
        }
        @if (f['email'].errors['minlength']) {
        <div>Email must be at least 10 characters.</div>
        }
        @if (f['email'].errors['maxlength']) {
        <div>Email cannot exceed 350 characters.</div>
        }
        @if (f['email'].errors['pattern']) {
        <div>Email domain must be a registered domain</div>
        }
      </div>
      }
    </div>


    <div class="honeypot">
      <input type="text" formControlName="extraField" (focus)="onHoneypotFocus()" (blur)="onHoneypotBlur()" hidden />
    </div>

    <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
  </form>


  @if (isLoading) {
  <div class="spinner-overlay">
    <div class="spinner"></div>
  </div>
  }
</div>