<div class="register-wrapper">
  <div class="register-left">
    <div class="register-content">
      <img
        src="https://thumbs.dreamstime.com/b/job-portal-lettering-logo-design-template-concept-professional-employee-recruitment-agency-logo-vector-job-portal-lettering-220648774.jpg"
        alt="Job Portal" class="job-image" />
      <h3>Welcome to JobFinder</h3>
      <p>Create your account and start applying for jobs instantly.</p>
    </div>
  </div>

  <div class="register-right">
    <div class="register-container">
      <h2>Register</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <div class="form-group">
          <label for="userName">Email</label>
          <input type="email" id="userName" formControlName="userName" placeholder="Enter your email" />
          @if (f['userName'].touched && f['userName'].errors) {
          <div class="error-message">
            @if (f['userName'].errors['required']) {
            <div>Email is required.</div>
            }
            @if (f['userName'].errors['email']) {
            <div>Invalid email format.</div>
            }
            @if (f['userName'].errors['minlength']) {
            <div>Email must be at least 10 characters.</div>
            }
            @if (f['userName'].errors['maxlength']) {
            <div>Email cannot exceed 350 characters.</div>
            }
            @if (f['userName'].errors['pattern']) {
            <div>Email domain must be a registered domain</div>
            }
          </div>
          }
        </div>


        <div class="form-group password-group">
          <label for="password">Password</label>
          <div class="form-group">
            <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
              placeholder="Enter your password" />
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'" (click)="togglePassword()"></i>
          </div>
          @if (f['password'].touched && f['password'].errors) {
          <div class="error-message">
            @if (f['password'].errors['required']) {
            <div>Password is required.</div>
            }
            @if (f['password'].errors['minlength']) {
            <div>Must be at least 6 characters.</div>
            }
            @if (f['password'].errors['maxlength']) {
            <div>Cannot exceed 64 characters.</div>
            }
            @if (f['password'].errors['pattern']) {
            <div>Must contain 1 uppercase, 1 lowercase, 1 number, and 1 special character.</div>
            }
          </div>
          }
        </div>


        <div class="form-group password-group">
          <label for="confirmPassword">Confirm Password</label>
          <div class="form-group">
            <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirmPassword"
              formControlName="confirmPassword" placeholder="Confirm password" />
            <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
              (click)="toggleConfirmPassword()"></i>
          </div>
          @if (f['confirmPassword'].touched && f['confirmPassword'].errors) {
          <div class="error-message">
            <span>Confirmation is required.</span>
          </div>
          }
          @if (f['confirmPassword'].value && f['confirmPassword'].value !== f['password'].value) {
          <div class="error-message">
            <span>Passwords do not match.</span>
          </div>
          }
        </div>


        <div class="honeypot">
          <input type="text" formControlName="extraField" (focus)="onHoneypotFocus()" (blur)="onHoneypotBlur()"
            hidden />
        </div>


        <button type="submit" [disabled]="registerForm.invalid">Register</button>


        <div class="login-redirect">
          <p>
            Already have an account?
            <a (click)="goToLogin()" class="login-link">Login here</a>
          </p>
        </div>


        @if (loading) {
        <div class="spinner-overlay">
          <div class="spinner"></div>
        </div>
        }
      </form>
    </div>
  </div>
</div>